body {
  margin: 0;
  background: white;
  color: black;
  /* same as github.com */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12pt;
  line-height: 1.4;
  padding: 1em 2em;
}

/* set on <pre> element in <pre><code> sequence */
.notion-code {
  display: block;
  padding: 0.5em;
  overflow-x: visible;

  tab-size: 2;

  font-size: 85%;

  border: 1px solid #e5e5e5;

  color: #657b83;
  /* background-color: #f9f9f9; */
  background-color: #fdfdfd;
}

.notion-code-inline {
  color: #657b83;
  /* background-color: #f9f9f9; */
  background-color: #fdfdfd;
}

.notion-todo-checked {
  color: lightgray;
  text-decoration: line-through;
}

/* sometimes we render children inside notion-wrap to provide indent */
div.notion-wrap {
  margin-left: 1em;
}

.notion-video {
  max-width: 100%;
}

.notion-page-title {
  font-size: 2em;
  font-weight: bold;
  padding: 4px 0;
}

.notion-sub-page::before {
  content: "\1f5cf";
  margin-right: 0.4em;
}

.notion-page-link::before {
  content: "\1f5cf\2197";
  margin-right: 0.4em;
}

.notion-todo-checked:before {
  content: "\2612";
}

.notion-todo::before {
  content: "\2610";
}

/* Note: there might be more elements we need to add here */
details.notion-toggle > div,
details.notion-toggle > details {
  margin-left: 1.4em;
}

/* neutralize dy margin at the top and the bottom of lists
   when nested inside toggle list */
details.notion-toggle > ul,
details.notion-toggle > ol {
  margin-block-start: 0;
  margin-block-end: 0;
}

details.notion-toggle > summary::-webkit-details-marker:hover {
  color: gray;
  cursor: pointer;
}

.notion-date {
  opacity: 0.5;
}

hr.notion-divider {
  border: 0;
  border-top: 1px solid #eee;
}

/*
style of an image <img> tag:
- centered horizontally
- limit width to container (i.e. the page)
*/
img.notion-image {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  display: block; /* needed for margin-left/margin-right to work */
  margin-top: 1em;
  margin-bottom: 1em;
}

div.notion-bookmark {
  border: 1px solid #eee;
  padding: 1em;
}

div.notion-column-list {
  display: flex;
  width: 100%;
}

/* size all columns equally */
div.notion-column {
  flex: 1;
}

table.notion-collection-view {
  background-color: white;
  margin-bottom: 1em;
}

table.notion-collection-view th {
  color: rgb(165, 165, 165);
  font-weight: normal;
  border-right: 1px solid rgb(243, 243, 243);
  border-bottom: 1px solid rgb(221, 225, 227);
  border-top: 1px solid rgb(221, 225, 227);
  padding: 1px 8px 1px;
  margin: 0px;
}

table.notion-collection-view td {
  border-right: 1px solid rgb(243, 243, 243);
  border-bottom: 1px solid rgb(221, 225, 227);
  padding: 1px 8px 1px;
  margin: 0px;
}

div.notion-embed {
  border: 1px solid #eee;
  padding: 1em;
}

